.bg-light {
  background-color: #f5f6f7 !important;
}

.navbar-container {
  flex-grow: 1;
}

.navbar {
  font-size: 1.5em;
}

#brand-icon {
  max-height: 3em;
}

.grow:hover{
  font-weight: bolder;
  transition: all .2s ease-in-out;
  transform: scale(1.1);
}

.light-gray {
  color: lightslategray;
  opacity: 0.70;
}

.smaller-text {
  font-size: 0.8em;
}

.no-list-style {
  list-style: none;
  padding-left: 0;
}

.mb-01 {
  margin-bottom: 0.2rem !important;
}

.experience {
  width: 300px;
  margin-right: auto;
  margin-left: auto;
  display: block;
}

.prev-clients {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  display: block;
}

#cta-text {
  text-shadow: 1px 1px #2a2a2a;
}